body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
}

main {
    height: 100vh;
}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}
main {
    flex-direction: column;
    display: flex;
    
    justify-content: center;
    display: inline-block;
  
  }


   